<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vnmaker.mapper.CharacterMapper">
    
    <select id="selectByGameId" parameterType="java.lang.Long" resultType="com.vnmaker.entity.GameCharacter">
        SELECT * FROM game_character WHERE game_id = #{gameId}
    </select>
    
</mapper>
