<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vnmaker.mapper.PlotMapper">
    
    <select id="selectByGameId" parameterType="java.lang.Long" resultType="com.vnmaker.entity.PlotNode">
        SELECT * FROM plot_node WHERE game_id = #{gameId}
    </select>
    
</mapper>